{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} : Nuestro equipo{% endblock %}

{% block body %}
    {% for rank in ranks|reverse %}
        {% if rank.id > 1 %}
            <div class="staff-rank flx-column">
                <div class="rank-title w-100">
                    <h2>{{ rank.name }}</h2>
                </div>
                <div class="rank-userlist flx-row">
                    {% if rank.getUsers() is not empty %}
                        {% for user in rank.getUsers() %}
                            <div class="rank-users flx-row" onclick="location.href = '/perfil/{{ user.username }}'">
                                <img src="{{ user.rank.image }}" alt="Rango" class="box-background">
                                <img src="https://www.habbo.es/habbo-imaging/avatarimage?user={{ user.username }}&action=std&direction=2&head_direction=2&img_format=gif&gesture=std&size=l"
                                     alt="Avatar de {{ user.username }}">
                                <h2>{{ user.username }}</h2>
                                <span class="staff-motto">{{ user.motto }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h2 class="no-user">No hay nadie en esta categoría.</h2>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
