<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="FansiteCMS - Fansite Habbo en Español Latinoamérica">
        <link rel="stylesheet" type="text/css" href="/assets/uicons/css/uicons-regular-rounded.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="https://images.habbo.com/habbo-web-client/v4.2.2.4/desktop/icon.png">
        <title>{% block title %}{{ site_name }} :{% endblock %}</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}
    </head>
    <body>
    <!-- Menú lateral -->
    {{ block('sidemenu', "menu/index.html.twig") }}

    <!-- Contenido principal -->
    <div id="container" class="flx-column">
     {{ block('header', "components/global/header.html.twig") }}

        <div class="page-content">

        {% block body %}

        {% endblock %}
        </div>

    </div>
    </body>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</html>
